.ConfessionListItem_link {
  color: black;
  text-decoration: none;
}

.ConfessionListItem_flexRow {
  display: flex;
  flex: 1;
  padding: 8px;
}

.ConfessionListItem_icon {
  width: 32px;
  height: 32px;
}

.ConfessionListItem_storyCell {
  flex: 1;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
}

.ConfessionListItem_storyTitle {
  display: flex;
  flex: 0 0 auto;
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 700;
}

.ConfessionListItem_storyIndex {
  display: flex;
  flex: 0 0 auto;
  font-size: 18px;
  line-height: 1.2;
  margin-right: 12px;
}
.ConfessionListItem_storyIndex::after {
  display: block;
  content: ".";
}

.ConfessionListItem_itemRow {
  align-items: stretch;
  border-top: solid 1px #eee;
  display: flex;
  margin-top: 6px;
  margin-bottom: 6px;
  cursor: default;
}

.ConfessionListItem_commentRow {
  align-items: stretch;
  /* border-bottom: solid 1px #eee; */
  display: flex;
  margin-top: 6px;
  margin-left: 30px;
  margin-bottom: 6px;
  cursor: default;
}

.ConfessionListItem_commentsText {
  color: #999999;
}

.ConfessionListItem_commentsCell {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 8;
  text-align: center;
  width: 80px;
}

.ConfessionListItem_commentsText {
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  color: #000;
}

a:hover .ConfessionListItem_commentsText {
  color: #000;
}

.ConfessionListItem_textArea {
  height: 200px;
  width: 800px;
}

.ConfessionListItem_button {
  background-color: #c53030; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 25px;
}

.NotFound_container {
  margin: 30px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.NotFound_image {
  margin-top: 60px;
}
.NotFound_text {
  margin-top: 40px;
}
