.RecentConfessionsListItem_link {
  color: black;
  text-decoration: none;
}

.RecentConfessionsListItem_flexRow {
  display: flex;
  flex: 1;
  padding: 8px;
}

.RecentConfessionsListItem_icon {
  width: 32px;
  height: 32px;
}

.RecentConfessionsListItem_storyCell {
  flex: 1;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
}

.ConfessionPageData_storyTitle {
  display: flex;
  flex: 0 0 auto;
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 700;
  color: #c53030;
}

.RecentConfessionsListItem_storyTitle {
  display: flex;
  flex: 0 0 auto;
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 700;
}

.RecentConfessionsListItem_storyIndex {
  display: flex;
  flex: 0 0 auto;
  font-size: 18px;
  line-height: 1.2;
  margin-right: 12px;
}
.RecentConfessionsListItem_storyIndex::after {
  display: block;
  content: ".";
}

.RecentConfessionsListItem_headingRow {
  align-items: stretch;
  /* border: solid 1px #eee; */
  display: flex;
  margin-top: 6px;
  margin-bottom: 12px;
  cursor: default;
}

.RecentConfessionsListItem_itemRow {
  /* align-items: stretch; */
  border: solid 1px #eee;
  margin-bottom: 12px;
  /* display: flex;
  margin-top: 6px;
  margin-bottom: 12px;
  cursor: default; */
}

.RecentConfessionsListItem_commentRow {
  align-items: stretch;
  /* border-bottom: solid 1px #eee; */
  display: flex;
  margin-top: 6px;
  margin-left: 30px;
  margin-bottom: 6px;
  cursor: default;
}

.RecentConfessionsListItem_commentsText {
  color: #999999;
}

.RecentConfessionsListItem_commentsCell {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 8;
  text-align: center;
  width: 80px;
}

.RecentConfessionsListItem_commentsText {
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  color: #000;
}

a:hover .RecentConfessionsListItem_commentsText {
  color: #000;
}

.RecentConfessionsListItem_textArea {
  height: 200px;
  width: 800px;
}

.RecentConfessionsListItem_button {
  background-color: #c53030; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 25px;
}

.NotFoundPage_container {
  margin: 30px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.NotFoundPage_image {
  margin-top: 60px;
}
.NotFoundPage_text {
  margin-top: 40px;
}
