.recentConfessionsListItemLink {
  color: black;
  text-decoration: none;
}

.recentConfessionsListItemflexRow {
  display: flex;
  flex: 1;
  padding: 8px;
}

.recentConfessionsListItemIcon {
  width: 32px;
  height: 32px;
}

.recentConfessionsListItemStoryCell {
  flex: 1;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
}

.confessionPageDataStoryTitle {
  display: flex;
  flex: 0 0 auto;
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 700;
  color: #c53030;
}

.recentConfessionsListItemStoryTitle {
  display: flex;
  flex: 0 0 auto;
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 700;
}

.recentConfessionsListItemStoryIndex {
  display: flex;
  flex: 0 0 auto;
  font-size: 18px;
  line-height: 1.2;
  margin-right: 12px;
}
.recentConfessionsListItemStoryIndex::after {
  display: block;
  content: ".";
}

.recentConfessionsListItemHeadingRow {
  align-items: stretch;
  /* border: solid 1px #eee; */
  display: flex;
  margin-top: 6px;
  margin-bottom: 12px;
  cursor: default;
}

.recentConfessionsListItemItemRow {
  /* align-items: stretch; */
  border: solid 1px #eee;
  margin-bottom: 12px;
  /* display: flex;
  margin-top: 6px;
  margin-bottom: 12px;
  cursor: default; */
}

.recentConfessionsListItemCommentRow {
  align-items: stretch;
  /* border-bottom: solid 1px #eee; */
  display: flex;
  margin-top: 6px;
  margin-left: 30px;
  margin-bottom: 6px;
  cursor: default;
}

.recentConfessionsListItemCommentsText {
  color: #999999;
}

.recentConfessionsListItemCommentsCell {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 8;
  text-align: center;
  width: 80px;
}

.recentConfessionsListItemCommentsText {
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  color: #000;
}

a:hover .recentConfessionsListItemCommentsText {
  color: #000;
}

.recentConfessionsListItemTextArea {
  height: 200px;
  width: 800px;
}

.recentConfessionsListItemButton {
  background-color: #c53030; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 25px;
}

.notFoundPageContainer {
  margin: 30px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.notFoundPageImage {
  margin-top: 60px;
}
.notFoundPageText {
  margin-top: 40px;
}
